<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLES LOCAL -->
    <link rel="stylesheet" href="../public/css/main.css">

    <!-- FONTAWESOME ICO-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>About Us</title>

</head>

<body>
    <div class="About">
        <!-- Header -->
        <div class="About-header">
            <div class="Header-bg" style="background-image: url(../public/img/nav/about-us.jpg);"></div>
            <div class="Header-links">
                <div class="Header-title">
                    <h1>About Us</h1>
                </div>
                <nav class="Header-nav">
                    <ul class="Header-ul">
                        <li class="Header-li"><a href="../index.html" class="Header-a">Home</a></li>
                        <li class="Header-li"><a href="../views/about.html" class="Header-a">About</a></li>
                        <li class="Header-li"><a href="../views/menu.html" class="Header-a">Menu</a></li>
                        <li class="Header-li"><a href="../views/contact.html" class="Header-a">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Container -->
        <div class="About-container">
            <section class="About-section">
                <img class="About-img" src="../public/img/chef.jpg">
                <p class="About-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis voluptatem quis
                    veritatis itaque soluta aut eaque unde dolorum non, accusantium iste tempore earum obcaecati, sit,
                    ipsam sunt quidem necessitatibus quo pariatur fugiat impedit. Modi ducimus labore temporibus quasi
                    deserunt, nisi ea pariatur quas quaerat excepturi deleniti vitae culpa tempora veniam sint esse
                    consectetur non placeat, corrupti recusandae blanditiis. Minus beatae saepe eos veniam possimus esse
                    quibusdam optio quo ut est quae harum distinctio voluptatem, tempore ducimus eveniet mollitia nemo
                    laboriosam cum a culpa ratione illum cumque repellendus. Culpa quam itaque dolorem sint sit id
                    veritatis commodi laudantium non. Quod repellendus eveniet, neque itaque consequatur esse animi
                    repellat impedit, qui ab et id ducimus sint autem labore ipsam quam? Aut excepturi tempora hic,
                    illum, possimus iure praesentium dolores id sunt non earum inventore blanditiis! At voluptatibus, ea
                    porro mollitia nemo id, optio atque numquam laborum dolorum voluptates qui quam ad neque!</p>
            </section>
            <section class="About-section">
                <p class="About-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In velit tempore ut hic
                    itaque ab, recusandae blanditiis. Corporis beatae minima, corrupti reprehenderit, exercitationem
                    excepturi molestias dolore laudantium quos nobis expedita qui voluptates ab. Labore culpa expedita
                    minus quibusdam quis, suscipit, ad tempora corporis cupiditate commodi voluptatibus ab amet veniam
                    voluptatum sapiente. Sed voluptate aliquam, magni earum harum sapiente nihil fugit non ducimus
                    voluptatum a fuga ab error debitis odio? Fugit vitae hic voluptas odit recusandae quis reiciendis
                    architecto tenetur delectus iste. Soluta, consectetur ullam. Rerum, dolorem recusandae deserunt
                    veritatis inventore quo eaque corporis, cumque expedita ullam molestias distinctio consectetur culpa
                    nemo reprehenderit! Minima animi libero quas facilis earum vitae numquam at ipsam vel minus nulla
                    officia vero soluta omnis ex repellendus odit necessitatibus neque consequuntur culpa qui nobis,
                    aliquam assumenda accusamus. Esse, ea accusantium in culpa quidem neque a aspernatur doloribus
                    nesciunt quod consectetur inventore assumenda cum dolorem quo voluptas minima? Reiciendis omnis amet
                    consectetur commodi nam minus eius maiores, architecto, ullam cum soluta laboriosam sunt repellat
                    sit quos temporibus ab explicabo accusamus aperiam? Dolores nobis itaque error ex laudantium, quam
                    ea sint fuga odit non similique corrupti nemo sequi doloribus! Sit tempora nostrum deleniti quidem
                    accusantium itaque mollitia cumque, doloribus deserunt doloremque. Similique ut, cumque id animi
                    dolore sequi tenetur incidunt nihil libero debitis ad praesentium! Sit impedit, iure quos eius
                    commodi modi, perferendis totam similique odio excepturi adipisci. Nesciunt iure, aliquid sapiente
                    laborum sunt, vel beatae ipsum illum, saepe obcaecati nihil minima dolores quis eligendi. Dolorem,
                    quod eligendi?</p>
            </section>
            <section class="About-square">
                <div class="Square-photo">
                    <img class="isSquares" src="../public/img/squares/fries-sq-1.jpg">
                </div>
                <div class="Square-description">
                    <h1 class="Square-h1">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
                    <p class="Square-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis error
                        repudiandae optio consequuntur voluptatem delectus. Itaque dicta non, accusamus at, excepturi
                        minima aliquid nisi similique modi assumenda amet obcaecati! Repellendus esse beatae, placeat,
                        voluptatum ab veritatis obcaecati incidunt ullam deserunt doloribus cupiditate quis voluptas
                        sequi eum, est veniam a commodi.</p>
                </div>
            </section>
            <section class="About-square">
                <div class="Square-description">
                    <h1 class="Square-h1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                    <p class="Square-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis error
                        repudiandae optio consequuntur voluptatem
                        delectus. Itaque dicta non, accusamus at, excepturi minima aliquid nisi similique modi assumenda
                        amet obcaecati!
                        Repellendus esse beatae, placeat, voluptatum ab veritatis obcaecati incidunt ullam deserunt
                        doloribus cupiditate
                        quis voluptas sequi eum, est veniam a commodi.</p>
                </div>
                <div class="Square-photo">
                    <img class="isSquares" src="../public/img/squares/fries-sq-2.jpg">
                </div>
            </section>
        </div>

        <!-- Footer -->
        <footer class="Footer">
            <div class="Footer-logo">
                <img src="../public/img/logo/decamp-fantastic-fries-logo-white.png" alt="" srcset="">
            </div>
            <div class="Footer-contact">
                <span class="Contact-span">555 555 555</span>
                <span class="Contact-span isColor">10 AM - MIDNIGHT</span>
            </div>
            <div class="Footer-nav">
                <ul class="Footer-ul">
                    <li class="Footer-li"><a href="index.html" class="Footer-a">Home</a></li>
                    <li class="Footer-li"><a href="../views/about.html" class="Footer-a">About</a></li>
                    <li class="Footer-li"><a href="../views/menu.html" class="Footer-a">Menu</a></li>
                    <li class="Footer-li"><a href="../views/contact.html" class="Footer-a">Contact</a></li>
                </ul>
            </div>
            <div class="Footer-social">
                <a class="Social-a" href="#"><i class="Social-i fa-brands fa-instagram"></i></a>
                <a class="Social-a" href="#"><i class="Social-i fa-brands fa-facebook"></i></a>
                <a class="Social-a" href="#"><i class="Social-i fa-brands fa-twitter"></i></a>
            </div>
            <div class="Footer-copyright">
                <span class="Copy-span">© 2022 DevCamp | All rights reserved | Design by Jose Alvaro Cedeño</span>
            </div>
        </footer>
    </div>
</body>

</html>