<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLES LOCAL -->
    <link rel="stylesheet" href="../public/css/main.css">

    <!-- FONTAWESOME ICO-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>Menu</title>

</head>

<body>
    <div class="Menu">
        <div class="Menu-header">
            <div class="Header-bg" style="background-image: url(../public/img/nav/menu.jpg);">
            </div>
            <div class="Header-links">
                <div class="Header-title">
                    <h1>Menu</h1>
                </div>
                <nav class="Header-nav">
                    <ul class="Header-ul">
                        <li class="Header-li"><a href="../index.html" class="Header-a">Home</a></li>
                        <li class="Header-li"><a href="../views/about.html" class="Header-a">About</a></li>
                        <li class="Header-li"><a href="../views/menu.html" class="Header-a">Menu</a></li>
                        <li class="Header-li"><a href="../views/contact.html" class="Header-a">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="Menu-container">
        </div>
        <div class="Menu-squares">
        </div>
    
    <!-- Footer -->
    <footer class="Footer">
        <div class="Footer-logo">
            <img src="../public/img/logo/decamp-fantastic-fries-logo-white.png" alt="" srcset="">
        </div>
        <div class="Footer-contact">
            <span class="Contact-span">555 555 555</span>
            <span class="Contact-span isColor">10 AM - MIDNIGHT</span>
        </div>
        <div class="Footer-nav">
            <ul class="Footer-ul">
                <li class="Footer-li"><a href="index.html" class="Footer-a">Home</a></li>
                <li class="Footer-li"><a href="../views/about.html" class="Footer-a">About</a></li>
                <li class="Footer-li"><a href="../views/menu.html" class="Footer-a">Menu</a></li>
                <li class="Footer-li"><a href="../views/contact.html" class="Footer-a">Contact</a></li>
            </ul>
        </div>
        <div class="Footer-social">
            <a class="Social-a" href="#"><i class="Social-i fa-brands fa-instagram"></i></a>
            <a class="Social-a" href="#"><i class="Social-i fa-brands fa-facebook"></i></a>
            <a class="Social-a" href="#"><i class="Social-i fa-brands fa-twitter"></i></a>
        </div>
        <div class="Footer-copyright">
            <span class="Copy-span">© 2022 DevCamp | All rights reserved | Design by Jose Alvaro Cedeño</span>
        </div>
    </footer>
    </div>
</body>