/* HEADER */
.About-header {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    position: relative;
}

.Header-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/nav/about-us.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
    filter: brightness(50%);
}

.Header-links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 1000px;
}

.Header-title {
    flex: 50%;
}

.Header-title h1 {
    padding: 40px 30px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: var(--color-hover);
    color: var(--background-nav);
    width: fit-content;
    font-size: 2em;
    font-weight: 700;
}

.Header-nav {
    flex: 50%;
    margin: 0;
    padding: 0;
}

/* CONTAINER */
.About-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 20px 0;
}

.About-section {
    width: 1000px;
    padding: 20px;
}

.About-img {
    width: 350px;
    margin: 20px 40px;
    float: left;
    border: 2px solid var(--color-hover);
}

.About-p {
    text-align: justify;
    letter-spacing: 2px;
}

/* SQUARES */
.About-square {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    height: auto;
}

.Square-photo {
    flex: 50%;
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 5px;
}

.isSquares {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 5px;
    object-fit: cover;
}

.Square-description {
    flex: 50%;
    padding: 40px;
}

.Square-h1 {
    color: var(--color-hover);
    font-size: 2em;
}

.Square-p {
    margin: 20px 0;
    padding: 10px;
    text-align: justify;
    letter-spacing: 2px;
}