@import url('nav.css');
@import url('index.css');
@import url('footer.css');
@import url('about.css');
@import url('contact.css');
@import url('menu.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto+Mono&family=Roboto+Slab:wght@400;700&display=swap');
:root{
    --background-nav: #11122b;
    --color-nav: #cbcbcb;
    --color-hover: #cea135;
    --font-nav: 'Oswald', sans-serif;
    --font-h: 'Roboto Slab', serif;
    --font-text: 'Roboto Mono', monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-h)
}

Body{
    font-family: var(--font-text)
}